body {
    margin: 0;
    background-color: whitesmoke;
}
#topic {
    text-align: center;
    text-decoration: underline;
    font-size: 3rem;
    margin: 50px 0;
}
#link-pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul {
    list-style-type: square;
    font-size: 2rem;
    line-height: 2.8rem;
}
nav ul li a {
    text-decoration: none;
    color: green;
}